* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.navigasi {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.navigasi .aktif{
    font-weight: bold;
    font-size: 20px;
}

.mifta-nav {
	width: 1100px;
	margin: auto;
	position: relative;
}

.mifta-isi {
	width: 1100px;
	margin: auto;
	text-align: center;
	display: none;
}

.logo a{
	font-size: 30px;
	font-weight: bold;
	float: left;
	font-family: 'comic sans-ms';
	color: violet;
}

.menu{
	float: right;
}
.mita {
	margin: auto;
	margin-top: 30px;
	width: 300px;
	height: 300px;
	border-radius: 99em;
	box-shadow: 0px 0px 20px 5px;
	color: white;
}
img {
	margin-top: 30px;
	width: 300px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 99em;
	box-shadow: 0px 0px 10px 5px;
	color: white;
	
}
nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

section {
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
}
.kolom{
	margin-top: 10px;
	margin-bottom: 10px;
}
.kolom .quote {
	font-size: 20px;
	font-weight: bold;
	font-family: 'comic sans ms';
	color: violet;
	display: inline-table;
}

h2{
	font-family: 'comic sans ms';
	font-weight: 600;
	font-size: 35px;
	margin-bottom: 20px;
	color: violet;
	width: 100%;
	line-height: 50px;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}
p {
	font-size: 20px;
	font-family: 'comic sans ms';
	color: black;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}
.aboutme {
	text-align: left;
	margin-top: 20px;
	font-weight: bold;
	font-family: 'comic sans ms';
	color: #7895B2;
	display: table-footer-group;
}
.mifta p {
	text-align: left;
	font-weight: bold;
	border-radius: 20px;
	border-style: solid;
	border-color: violet;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: white;
	border-width: 5px;
}

.mifta p:hover{
	cursor: pointer;
  	letter-spacing: 5px;
  	transition: .2s;
}

.mifta a {
	text-decoration: none;
	color: #violet;
}

.tata  p {
	text-align: left;
	font-weight: bold;
	border-radius: 20px;
	border-style: solid;
	border-color: violet;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 20px;
	background: white;
	border-width: 5px;
}
.tata p:hover{
	cursor: pointer;
  	letter-spacing: 5px;
  	transition: .2s;
}

.tata a {
	text-decoration: none;
	color: violet;
}